<div class="container">
    <div class="jumbotron no-bg">
        <div class="row">
            <div class="col-md-4 push-right">
                <h2><i class="fa fa-facebook-square fa-5x"></i></h2>
            </div>
            <div class="col-md-8">
                <h1>Flappy Face</h1>    

                <p>Duel with your facebook friends in flappy bird game play</p>

                <a href="#play" class="btn btn-lg btn-success">Let me in!</a><br>
                <small class="invert">login using your facebook account</small>
            </div>
        </div>
        
    </div>
</div>

